@charset "utf-8";

@media (min-width: 1000px) {
	
	body, td, th {
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: #191919;
	}

	a:hover {
		text-decoration: none !important;
		color: #EBEBEB !important;
	}

	a:link {
		text-decoration: none; 
		color: #A4A6C1;
	}

	a:visited {
		text-decoration: none; 
		color: #A4A6C1;
	}

	a:active {
		text-decoration: underline; 
		color: #588ACF;
	}

	.docbody {
		position: absolute;
		background-color: #270800;
		top: 0; left: 0; bottom: 0; right: 0;
		width: 1290px;
		overflow: auto;
		margin: auto;
	}

	.mContent { }

	.buttonApp {
		background-color: #002987;
		border: 3px solid #D9D9D9;
		border-radius: 10px;
		width: 230px;
		height: 65px;
		outline:none;
	}

	.buttonApp:hover {
		background-color: #214A9E;
	}

	.buttonGStore {
		background-color: #530507;
		border: 3px solid #D9D9D9;
		border-radius: 10px;
		width: 230px;
		height: 65px;
		outline:none;
	}

	.buttonGStore:hover {
		background-color: #8E0D10;
	}

	.socialLinks {
		position: absolute;
		width: 180px;
		top: 575px;
	}

	.socialGrid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.buttonBlue {
		background-color: #182494;
		border: hidden;
		width: 45px;
		height: 45px;
		padding: 0px;
		margin: 0px;
		border: none;
		outline:none;
	}

	.buttonBlue:hover {
		background-color: #2132D5;
	}

	.buttonRed {
		background-color: #931616;
		border: hidden;
		width: 45px;
		height: 45px;
		padding: 0px;
		margin: 0px;
		border: none;
		outline:none;
	}
	.buttonRed:hover {
		background-color: #D52222;
	}

	.sh {
		background-color: #199BDB;
		width: 1290px;
		height: 670px;
	}

	.splash {
		position: relative;
		top:0px;
	}

	.splashTextHeader {
		position: absolute;
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 65px;
		text-shadow: 4px 4px 7px #121212;
		color:#EEEEEE;
		top: 40px;
		left: 60px;
	}
	
	.splashimage {
		overflow: hidden;
		background-image: url("/images/UFONYC.png");
    	background-repeat: no-repeat;
		width: 100%;
		height: 670px;
	}

	.splashText {
		position: absolute;
		font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color:#E8E8E8;
		top: 85px;
		width:1000px;
	}

	.dl {
		position: absolute;
		top: 475px;
		left: 1000px;
	}

	.ios {
		position: absolute;
		top: 0px;
	}

	.and {
		position: absolute;
		top: 80px;
	}

	.logo {
		padding: 9px;
	}

	.iar{
		color: #E7E7E7;
		font-weight: bold;
	}

	.share {
		color: #B0B0B0;
	}

	.apps{
		color: #B0B0B0;
	}

	.tools {
		color: #B0B0B0;
	}

	.part {
		color: #B0B0B0;
	}

	.contact {
		color: #C5C5C5;
	}

	.button:hover {
		background-color: #0059C3;
	}

	.button {
		position: relative;
		text-align: center;
		color: #E7E7E7;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #E7E7E7;
		background-color: #001E67;
		width:200px;
		height:65px;
		border: hidden;
	}

	.linkText {
		position: relative;
		color: #BCBCBC;
		top: 23px;
	}

	.tb {
		background-color: #630D13;
		width: 1290px;
		height: 65px;
	}

	.titlebar {
		display: grid;
		grid-template-columns: 1% 5% 16% 10% 10% 10% 32.5% 20%;
		grid-gap: 0px;
	}

	.sw {
		background-color: #1A4066;
		width: 1290px;
		height: 1328px;
	}

	.swcontent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap:10px;
		padding: 15px;
	}

	.aa {
		background-color: #1B6626;
		width: 1290px;
		height: 908px;
	}

	.aacontent {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap:10px;
		padding: 15px;
	}

	.et {
		background-color: #333333;
		width: 1290px;
		height: 1118px;
	}

	.etcontent {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap:10px;
		padding: 15px;
	}

	.aacontainer {
		position: relative;
		top: 22px;
	}
	
	.etcontainer {
		position: relative;
		top: 22px;
	}
	
	.container {
		position: relative;
		top: 22px;
	}

	.tile {
		background-color: #ECECEC;
		height: 412px;
		width: 625px;
	}

	.imageLRG {
		background-image: url("/images/ET00.png");
		background-repeat: no-repeat;		
		height: 510px;
		width: 1245px;
	}
	
	.tileLRG {
		background-color: #ECECEC;
		grid-column:1/4;
		height: 622px;
		width: 1260px;
	}

	.tileMED {
		background-color: #ECECEC;
		height: 412px;
		width: 613px;
	}

	.tileSML {
		background-color: #ECECEC;
		height: 412px;
		width: 313px;
	}

	.title {
		position: relative;
		padding: 13px;
		padding-left: 20px;
		font-weight:bold;
	}

	.titlePAK {
		position: relative;
		padding: 13px;
		padding-left: 15px;
		font-weight:bold;
	}

	.heading {
		position: relative;
		top: 19px;
		padding-left: 25px;
		font-weight:bold;
	}

	.media {
		margin: auto;
		width: 600px;
	}

	.mediaSML {
		margin: auto;
		width: 300px;
	}

	.mediaLRG {
		margin: auto;
		width: 1245px;
	}

	.description {
		position: relative;
		padding: 7px;
		padding-left: 20px;
		width: 94%;
		font-size: 17px;
	}

	.descriptionPAK {
		position: relative;
		padding: 7px;
		padding-left: 15px;
		width: 94%;
		font-size: 17px;
	}

	.ft {
		background-color: #630D13;
		width: 1290px;
		height: 230px;
	}

	.footer {
		display: grid;
		grid-template-columns: 0.1fr 1fr 1fr 1fr;
		grid-gap:10px;
		padding: 15px;
	}

	.ft00 {
		background-color: #5C0D10;
		color: #A4A6C1;
		padding: 10px;
		font-size: 17px;
	}

	.ft01 {
		grid-column: 1/5;
		height: 20px;
		color: #588ACF;
		padding-top: 40px;
		text-align: center;
		font-size: 15px;
	}

	.formfun {
		position: fixed;
		visibility: hidden;
		background-color: #FFFFFF;
		top: 0; left: 0; bottom: 0; right: 0;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
		-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
		-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);

		width: 690px;
		height: 465px;
		overflow: hidden;
		margin: auto;
		z-index: 1;
	}


	.formTitle {
		display: grid;
		background-color: #0B226E;
		grid-template-columns: 1fr 0.1fr;
		grid-gap: 10px;

		padding: 25px 25px 20px 35px;
		margin: -20px -20px 20px -30px;
	}

	.formHeader {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 24px;
		color: #E7E7E7;
	}

	.closeBox {
		font-size: 35px;
		color: #E5E5E5;
		justify-self: end;

		margin: -8px 0px 0px 0px;
	}

	.closeBox:hover {
		color: #C00D0D;
	}

	.formStyle{
		width:650px;
		padding:20px;
		background: #FFF;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
		-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
		-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	}

	.formStyle .inner-wrap{
		padding: 20px;
		background-color: #F8F8F8;
		border-radius: 0px;
		margin-bottom: 15px;
	}

	.formStyle h1 > span{
		display: block;
		margin-top: 2px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
	}

	.formStyle label{
		display: block;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #888;
		margin-bottom: 15px;
	}

	.formStyle input[type="text"],
	.formStyle input[type="date"],
	.formStyle input[type="datetime"],
	.formStyle input[type="email"],
	.formStyle input[type="number"],
	.formStyle input[type="search"],
	.formStyle input[type="time"],
	.formStyle input[type="url"],
	.formStyle input[type="password"],
	.formStyle textarea,
	.formStyle select {
		display: block;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		padding: 8px;
		border-radius: 4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border: 2px solid #fff;
		box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
		-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
		-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	}

	.formStyle input[type="button"], 
	.formStyle input[type="submit"]{
		background: #0B226E;
		padding: 10px 30px 10px 30px;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		color: #fff;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
		-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
		box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
		border: 1px solid #257C9E;
	}

	.formStyle input[type="button"]:hover, 
	.formStyle input[type="submit"]:hover{
		background: #0B339E;
		-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
		-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
		box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	}

	.formStyle .newsupdates {
		float: right;
		width: 250px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #4D4D4D;
		margin-top: 10px;
		text-align: right;
	}

}
